<!DOCTYPE html>
<html>
<% include partials/head %>
</head>
  <body>
    <div class="col-sm-8 col-sm-offset-2">
     <h5>Hi, <%= user.facebook.name %></h5>
     <H3> Stuff you currently can do</h3>
       <ul class="nav nav-pills nav-stacked">
         <li><a href="/tags">Queue and Print generic Item <span class="glyphicon glyphicon-tags" /></a></li>
         <li><a href="/rituals">Setup Ritual Pulls</a></li>
       </ul>
   </div>
  </body>
</html>
